.textarea {
  /* overriding height supplied by Jodit via JS */
  min-height: 150px !important;
}

:global(.jodit-workplace) {
  /* overriding height supplied by Jodit via JS */
  min-height: 0 !important;
}