.wrap {
  display: flex;
  position: relative;
  text-align: end;
  align-items: center;
}

.wrap::before {
  content: '';
  flex: 1;
  height: 2px;
  background-color: var(--text-gray);
  display: block;
}

.link {
  display: block;
  padding: 0 12px;
  color: var(--text-accent);
}

.link :global(i) {
  padding-right: 6px;
  color: var(--text-accent);
}

.link :global(a) {
  color: inherit;
  text-decoration: none;
}

.link :global(a):hover {
  color: inherit;
  text-decoration: underline;
}