body {
  margin: 0;
  font-family: 'Roboto';
  min-width: 320px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-accent: #72bed9;
  --text-gray: #ebeeef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fw-medium {
  font-weight: 500 !important;
}

a, .button-link {
  color: inherit;
  text-decoration: none;
}

a:hover, .button-link:hover {
  color: inherit;
  text-decoration: underline;
}

.text-accent {
  color: var(--text-accent);
}